body {
  min-width: 320px;
  font-size: 15px;
  line-height: 21px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul,h1,h2,h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 62px;
  line-height: 64px;
  font-weight: 200;
}

h3 {
  font-size: 24px;
  line-height: 26px;
}

ul li {
    list-style: none;
  }

a {
  text-decoration: none;
  outline: none;
  // color: $link-color;

  &:hover {
    // color: $link-color-hover;
    text-decoration: none;
    cursor: pointer;
  }

  &:active {
    // color: $link-color-visited;
  }
}

button {
  outline: none;
  border: none;
}
