
.btn{
  display: block;
  box-sizing: border-box;
  padding: 17px 0;

  font-size: 22px;
  line-height: 20px;
  text-align: center;
  color: white;
  background: $theme2;

  width: 300px;

  &--type2 {
    background: $theme3;
  }

  &:hover {
    background-color: #444;
  }
  &:active {
    background-color: #444;
  }
}

// @media #{$tablet-widths} {
//   .btn {
//     font-size: 17px;
//   }
// }

// @media #{$desktop-widths} {
//   .btn {}
// }
