
.btn{
  display: block;
  box-sizing: border-box;
  border: 2px solid #444;
  padding: 16px 0;

  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  color: #444;
  background: #fff;

  &:hover {
    background-color: #444;
    color: #fff;
  }
  &:active {
    background-color: #444;
    color: $link-color-hover;
  }
}

@media #{$tablet-widths} {
  .btn {
    font-size: 17px;
  }
}

@media #{$desktop-widths} {
  .btn {}
}
