.page-header {
  

  &__wrapper {
    @include container;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.logo {
  min-width: 168px;
  min-height: 31px;

  & img {
    width: 168px;
    height: 31px;
  }
}

.main-nav {
  display: flex;
  align-items: center;

  &__link{
    padding: 15px 0;
    margin-left: 55px;
    font-size: 19px;
    line-height: 31px;
    color: #3f4f6a;
  }
}