.profit-calc {
  padding: 90px 0 35px 0;
  text-align: center;

  &__wrapper {
    @include container;
  }

  &__title {
    font-size: 62px;
    line-height: 64px;
    font-weight: 200;
  }

  &__text {
    display: inline-block;
    padding: 0 135px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 200;
  }

  &__block {

  }

  &__btn {
    margin: 0 auto;
  }
}


.range-filter {
  width: 220px;
  padding-top: 15px
}

.range-controls {
    position: relative;
    height: 41px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 39px;
    padding-left: 20px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 30%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 30%;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf; 
  }
