.about {}
.about__wrapper {
  @include container;
}
.about__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  padding: 29px 0 30px 0;
}
.about__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about__info {
  font-weight: bold;
  line-height: 20px;
  padding: 55px 0 28px 0;
  background-repeat: no-repeat;
  background-position: left top;
  &--1 {
    background-image: url("../img/icon-feature-1.svg");
    background-size: 46px 38px;
  }
  &--2 {
    background-image: url("../img/icon-feature-3.svg");
    background-size: 46px 38px;
  }
  &--3 {
    background-image: url("../img/icon-feature-5.svg");
    background-size: 36px 28px;
    background-position: left 5px top 5px;
  }
  &--4 {
    background-image: url("../img/icon-feature-2.svg");
    background-position: left 2px top 5px;
  }
  &--5 {
    background-image: url("../img/icon-feature-4.svg");
    background-position: left top 6px;
  }
  &--6 {
    background-image: url("../img/icon-feature-6.svg");
    background-position: left 3px top 5px;
  }

}


@media #{$tablet-widths} {
  .about {
    padding: 2px 0 28px 0;
  }
  .about__wrapper {}
  .about__title {
    font-size: 43px;
    line-height: 50px;
    padding: 50px 0 42px 0;
  }
  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about__info {
    font-size: 20px;
    line-height: 24px;
    width: 50%;
    flex-shrink: 0;
    padding: 58px 0 50px 0;
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 3;
    }
    &:nth-child(3) {
      order: 5;
    }
    &:nth-child(4) {
      order: 2;
    }
    &:nth-child(5) {
      order: 4;
    }
    &:nth-child(6) {
      order: 6;
    }
  }
}

@media #{$desktop-widths} {
  .about {
    padding: 8px 0 34px 0;
  }
  .about__wrapper {
    box-sizing: border-box;
    padding-left: 176px;
  }
  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
  .about__list {
    width: 700px;
  }
  .about__info {
    padding: 57px 0 52px 0;
    &--1 {
      background-position: left 2px top 6px;
    }
    &--3 {
      background-position: left 5px top 8px;
    }
    &--4 {
      background-position: left 3px top 8px;
    }
    &--5 {
      background-position: left -1px top 8px;
    }

  }
}
