.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  padding: 23px 5px 21px 0;
}

.socials__link .socials__inst,
.socials__link .socials__tw {
  width: 24px;
  height: 20px;
}

.socials__link .socials__fb {
  width: 18px;
  height: 28px;
}

.socials__link {
  &:hover svg {
    fill: $theme-color;
  }
  &:active svg {
    fill: $theme-color-active;
  }
}

@media #{$tablet-widths} {
  .socials {
    padding: 23px 0 21px 70px;
  }
}
@media #{$desktop-widths} {}
